body{
    background-color: rgb(217, 241, 233);
}
.addtask{
    display: flex;
    background-color: rgb(146, 190, 176);

}

.mytable{
    text-align: center;
}

.textpara{
    /* padding: 8px 15px -5px 10px; */
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}